extend layout

block content
  include includes/container-left
    h2 #{deathHist}
  include includes/container-right
    h1 HELLO  #{data} 
    

    h2 #{deathTitle}
    p #{deathDesc}
    h4 #{deathType}

    form(method='POST' action='/randomDeath')
      .form-group
      label(for='deathGenerator')
        h3 How will I die today??
      button.btn.btn-danger Perish

    h3 If you want to add something unique press=>
      a(href= "/add").btn.btn-danger Add Death
    include includes/footer
  